<div class="container">
  <mat-card class="sprints-card">
    <mat-card-header>
      <button mat-flat-button (click)="openDialog()">
        <mat-icon>add</mat-icon> New Sprint
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="sprintButtonContainer" *ngFor="let sprint of sprints">
        <button class="sprintButton" mat-raised-button color="primary" [routerLink]="['/Sprint',sprint.sprintId]">
          <h1 class="sprintDesc">{{sprint.sprintDesc}}</h1>
          <h2 class="sprintDate">{{sprint.startDate | date}}-{{sprint.startDate| date}}</h2>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

